* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .main-content {
  height: 100%;
}


body {
  background: url('../img/grid_noise.png');
  color: #DDD;
  height: auto;
  font-family: 'Lato', Georgia;
  padding: 0;
  margin: 0;
}

.logo {
  background: url('../img/raspberry-pi-logo.svg') no-repeat;
  background-position: 100% 45%;
  height: 90%;
  width: 600px;
  position: fixed;
  right: 10px;
  z-index: 1;
}

.main-content {
  background: #252525;
  height: auto;
  padding: 5px 20px;
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
}

.content {
  padding: 5px;
}

.form {
  width: 201px;
}

button {
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  color: #444;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
  outline: none;
  padding: 0 8px;
  text-align: center;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  border-radius: 1px;
  text-indent: 0;
  border: 1px solid #dcdcdc;
  display: inline-block;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  height: 40px;
  line-height: 38px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;
}

button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
    cursor: pointer;
}

button:active {
    position:relative;
    top:1px;
}

footer {
  text-align: right;
  position: absolute;
  bottom: 2px;
  right: 10px;
  color: #333;
}

footer a {
  color: #bc1142;
  text-decoration: none;
}

.selectize-input.full {
  background-image: -webkit-linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-image: -moz-linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-image: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
}
